:root {
  --lightmode-blue: #98dbc6;
  --lightmode-green: #5bc8ac;
  --lightmode-yellow: #e6d72a;
  --lightmode-pink: #f18d9e;
  --darkmode-slate: #626d71;
  --darkmode-ceramic: #cdcdc0;
  --darkmode-latte: #ddbc95;
  --darkmode-coffee: #b38867;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background-color: #111111; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i {
  cursor: pointer;
}

.card {
  color: black;
  background-color: var(--lightmode-yellow);
}

/********************************Navbar*********************************/
.navbar-brand,
.aboutHeading {
  color: var(--darkmode-coffee);
  text-shadow: 2px 2px black;
  font-weight: bolder;
  font-size: 25px;
}

.navbar-brand:hover {
  color: var(--darkmode-coffee);
}

.navbar-brand span,
.aboutHeading span {
  font-size: 30px;
  color: var(--darkmode-latte);
  text-shadow: 2px 2px black;
}

.nav-item a {
  color: var(--darkmode-latte);
  /* text-shadow: 1px 1px black; */
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5vmax;
  margin: 0 1vmax;
}

.nav-item a:hover {
  color: var(--darkmode-coffee);
}

nav .btn {
  font-weight: 800;
}

.btn {
  background-color: var(--darkmode-latte);
  border-radius: 5px;
  border: none;
  color: var(--darkmode-coffee);
  text-shadow: 1px 1px black;
  box-shadow: 0px 1px 3px var(--darkmode-ceramic);
}

.btn:hover {
  background-color: var(--darkmode-coffee);
}

/******************************** HOME *********************************/

/******************************** ABOUT *********************************/
.about-section p {
  color: var(--darkmode-latte);
  font-family: Roboto;
  font-weight: 700;
  margin: 30px;
  font-size: large;
}

.img-container {
  border: 2px solid var(--lightmode-yellow);
  width: fit-content;
  height: 80vh;
  margin: 30px auto;
}


/******************************** LOGIN *********************************/
.login-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  margin-top: 5px;
  margin-bottom: 250px;
}
.screen {
  background-color: #1e1e1e;
  position: relative;
  height: 600px;
  width: 360px;
  border: 2px solid var(--darkmode-ceramic);
  box-shadow: 0px 2px 35px var(--darkmode-ceramic);
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: var(--darkmode-latte);
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(
    270deg,
    var(--darkmode-latte),
    var(--darkmode-coffee)
  );
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: var(--darkmode-latte);
  top: 420px;
  right: 50px;
  border-radius: 60px;
  overflow: hidden;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: var(--darkmode-coffee);
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: var(--darkmode-slate);
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--darkmode-coffee);
  box-shadow: 0px 2px 2px var(--darkmode-latte);
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: var(--darkmode-ceramic);
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: var(--darkmode-coffee);
}

.note-container {
  color: var(--darkmode-coffee);
  font-weight: bold;
}

.note-list-container {
  color: var(--darkmode-coffee);
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .login-container {
    overflow-y: hidden;
  }
}
